
.card-pop{
    width: 200px;
    height: 300px;
    border: none
}

.card-img-pop{
    width: 100%;
    height: auto;
}
@supports(object-fit: cover){
    .card-img-pop{
        height: 250px;
        object-fit: cover;
        object-position: center center;
    }}